<!-- <button type="button" id="add-event-button">
  <i class="fa fa-plus-square-o" aria-hidden="true"></i>
</button> -->

<!-- <div id="modal-backdrop" class="hidden"></div> -->

<div id="add-event-modal">
  <div class="modal-dialog">
    <div class="modal-header">
      <h2>Add event</h2>
      <button type="button" class="modal-close">&times;</button>
    </div>

    <div class="modal-body">
      <div class="event-input">
        <label for="event-text">Event</label>
        <textarea id="event-text"></textarea>
      </div>
      <div class="dropdown">
        <label for="dropdown-content">Date</label>
        <select id="dropdown-content">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
      </div>
      <div class="modal-footer">
          <button type="button" class="modal-add-button">Add Event</button>
      </div>
    </div>
  </div>
</div>

<!-- <script type="text/javascript" src="./events.js">
</script> -->
