<!-- <button type="button" id="add-event-button">
  <i class="fa fa-plus-square-o" aria-hidden="true"></i>
</button> -->

<!-- <div id="modal-backdrop" class="hidden"></div> -->

<div id="add-event-modal">
  <div class="modal-dialog">
    <div class="modal-header">
      <h2>Add event</h2>
      <button type="button" class="modal-close">&times;</button>
    </div>

    <div class="modal-body">
      <div class="event-input">
        <label for="event-text">Event</label>
        <textarea id="event-text"></textarea>
      </div>
      <div class="dropdown">
        <label for="dropdown-content">Date</label>
        <select id="dropdown-content">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>

        </select>
      </div>
      <div class="modal-footer">
          <button type="button" class="modal-add-button">Add Event</button>
      </div>
    </div>
  </div>
</div>

<!-- <script type="text/javascript" src="./events.js">
</script> -->
