  <h1>June Week {{current}} </h1>

    <img class='header-img' src='http://i.imgur.com/I6LRRFY.jpg'>

    <a href="{{next-url}}" class="next-week-button">
      Next Week ({{next-url}})  <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>

    <TABLE class="cal-container">
          <tr class='day-names'>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
          </tr>

            <tr>
                {{#each day}}
                    {{>day}}
                {{/each}}
            </tr>

    </TABLE>


      {{>addEventModal}}
